/* _main-title.scss

* chat-list-page 의 메인 타이틀 컴포넌트입니다.

* main-title: 채팅방 리스트의 타이틀인 CHAT 을 표현합니다.
*/

@import '../../mixin/media';

.main-title-wrap {
  width: 100%;
  height: 100px;
  line-height: 100px;
  background: #3e3f4d;
  text-align: center;

  .main-title {
    color: #cdcdd2;
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 1.4rem;
  }
}

/* media query */

@include mob-large {
  .main-title-wrap {
    height: 50px;
    line-height: 50px;
  }
}

@include mob-mid {
  .main-title-wrap {
    height: 50px;
    line-height: 50px;
  }
}

@include mob-small {
  .main-title-wrap {
    height: 50px;
    line-height: 50px;
  }
}
